@charset "utf-8";
@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;

.p-lead {
  padding-top: 110px;
  z-index: 2;
  @include m.mq(tab-l) {
    padding-top: 100px;
  }
  @include m.mq(tab) {
    padding-top: 80px;
  }
  @include m.mq(sm) {
    padding-top: 60px;
  }
}
.p-lead__heading {
  font-size: 3rem;
  line-height: 1.4;
  display: table;
  margin: auto;
  @include m.mq(tab-l) {
    font-size: 2.8rem;
  }
  @include m.mq(tab) {
    font-size: 2.4rem;
  }
  @include m.mq(sm) {
    font-size: 2rem;
  }
}
.p-lead__text {
  display: table;
  margin: 30px auto 0;
  @include m.mq(tab) {
    margin-top: 25px;
  }
  @include m.mq(sm) {
    margin-top: 20px;
  }
}
.p-lead__contents {
  margin-top: 120px;
  position: relative;
  padding: 130px 250px 120px;
  @include m.mq(tab-l) {
    margin-top: 100px;
    padding: 110px 200px 100px;
  }
  @include m.mq(tab) {
    margin-top: 80px;
    padding: 90px 150px 80px;
  }
  @include m.mq(s-t) {
    margin-top: 70px;
    padding: 80px 100px 70px;
  }
  @include m.mq(sm) {
    margin-top: 50px;
    padding: 40px 30px 40px;
  }
}
.p-lead__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::before {
    @include m.filter;
    background-color: rgba(#000, 0.8);
  }
}
.p-lead__title {
  font-size: 4rem;
  line-height: 1.4;
  color: #fff;
  position: relative;
  z-index: 1;
  @include m.mq(tab-l) {
    font-size: 3.8rem;
  }
  @include m.mq(tab) {
    font-size: 3.2rem;
  }
  @include m.mq(sm) {
    font-size: 2.2rem;
  }
}
.p-lead__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  position: relative;
  z-index: 1;
  margin-top: 15px;
}
.p-lead__initial {
  font-size: 2.5rem;
  line-height: 1;
  color: #fff;
  @include m.mq(sm) {
    font-size: 2.2rem;
  }
  .department {
    font-size: 1.4rem;
    color: #fff;
    display: table;
  }
}
.p-lead__xMark {
  width: 15px;
  height: 15px;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #fff;
  }
  &::before {
    height: 2px;
    width: 100%;
  }
  &::after {
    height: 100%;
    width: 2px;
  }
}

.p-crosstalk {
  padding-top: 155px;
  @include m.mq(tab-l) {
    padding-top: 140px;
  }
  @include m.mq(tab) {
    padding-top: 120px;
  }
  @include m.mq(sm) {
    padding-top: 90px;
  }
}
.p-crosstalk__title {
  font-size: 17.6rem;
  line-height: 1;
  position: absolute;
  top: -50px;
  left: -128px;
  color: #fff;
  text-stroke: 1px rgba(c.$green, 0.5);
  -webkit-text-stroke: 1px rgba(c.$green, 0.5);
  @include m.mq(note) {
    left: -6vw;
  }
  @include m.mq(tab-l) {
    left: -5vw;
    font-size: 15rem;
  }
  @include m.mq(tab) {
    font-size: 13rem;
  }
  @include m.mq(s-t) {
    font-size: 10rem;
  }
  @include m.mq(sm) {
    font-size: 7rem;
    top: -40px;
  }
}
.p-crosstalk__list {
  width: 880px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  @include m.mq(tab-l) {
    width: 90%;
  }
  @include m.mq(tab) {
    width: 100%;
  }
  @include m.mq(sm) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px 0;
  }
}
.p-crosstalk__item {
  width: 26%;
  position: relative;
  @include m.mq(s-t) {
    width: 28%;
  }
  @include m.mq(sm) {
    width: 60%;
  }
}
.p-crosstalk__image {
  width: 100%;
  height: 230px;
  position: relative;
  @include m.mq(tab-l) {
    height: 21.1vw;
  }
  @include m.mq(tab) {
    height: 23.4vw;
  }
  @include m.mq(s-t) {
    height: 25.2vw;
  }
  @include m.mq(sm) {
    height: 53.8vw;
  }
  img {
    border-radius: 50%;
  }
}
.p-crosstalk__xMark {
  width: 25px;
  height: 25px;
  position: absolute;
  @include m.centerY;
  right: -55px;
  @include m.mq(tab-l) {
    right: -5.6vw;
  }
  @include m.mq(tab) {
    right: -6.4vw;
  }
  @include m.mq(s-t) {
    right: -5.2vw;
    width: 20px;
    height: 20px;
  }
  @include m.mq(sm) {
    top: initial;
    right: initial;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -40px;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: c.$green;
  }
  &::before {
    height: 4px;
    width: 100%;
  }
  &::after {
    height: 100%;
    width: 4px;
  }
}
.p-crosstalk__box {
  margin: 15px auto 0;
  display: table;
  @include m.mq(sm) {
    margin-top: 10px;
  }
}
.p-crosstalk__data {
  font-size: 1.4rem;
  text-align: center;
}
.p-crosstalk__initial {
  font-size: 3.5rem;
  line-height: 1;
  text-align: center;
  @include m.mq(tab-l) {
    margin-top: 5px;
  }
  @include m.mq(sm) {
    margin-top: 4px;
  }
}
.p-crosstalk__position {
  margin-top: 10px;
  font-size: 1.4rem;
  color: rgba(c.$navy, 0.5);
  @include m.mq(sm) {
    font-size: 1.6rem;
  }
}
.p-crosstalk__wrap {
  margin-top: 150px;
  padding: 150px 0 110px;
  background-color: c.$green;
  @include m.mq(tab-l) {
    margin-top: 130px;
    padding: 120px 0 100px;
  }
  @include m.mq(tab) {
    margin-top: 110px;
    padding: 100px 0 80px;
  }
  @include m.mq(sm) {
    margin-top: 70px;
    padding: 70px 0 60px;
  }
}
.p-crosstalk__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.2;
  pointer-events: none;
}
.p-crosstalk__wrap__heading {
  font-size: 3.5rem;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 65px;
  @include m.mq(tab-l) {
    font-size: 3.2rem;
    margin-bottom: 60px;
  }
  @include m.mq(tab) {
    font-size: 2.8rem;
    margin-bottom: 50px;
  }
  @include m.mq(sm) {
    font-size: 2.4rem;
    margin-bottom: 40px;
  }
}
.p-crosstalk__content {
  background-color: #fff;
  padding: 110px 130px;
  @include m.mq(tab-l) {
    padding: 100px 110px;
  }
  @include m.mq(tab) {
    padding: 80px 80px 90px;
  }
  @include m.mq(sm) {
    padding: 40px 30px 60px;
  }
}
.p-crosstalk__question {
  font-size: 3rem;
  line-height: 1.4;
  @include m.mq(tab-l) {
    font-size: 2.8rem;
  }
  @include m.mq(tab) {
    font-size: 2.4rem;
  }
  @include m.mq(sm) {
    font-size: 2rem;
  }
}
.p-crosstalk__inner {
  margin-top: 65px;
  @include m.mq(tab-l) {
    margin-top: 60px;
  }
  @include m.mq(tab) {
    margin-top: 50px;
  }
  @include m.mq(sm) {
    margin-top: 30px;
  }
}
.p-crosstalk__desc {
  display: flex;
  justify-content: space-between;
  gap: 0 45px;
  @include m.mq(tab-l) {
    gap: 0 40px;
  }
  @include m.mq(tab) {
    gap: 0 30px;
  }
  @include m.mq(s-t) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 0;
  }
  @include m.mq(sm) {
    gap: 15px 0;
  }
  &:nth-child(n + 2) {
    margin-top: 50px;
    @include m.mq(tab) {
      margin-top: 45px;
    }
    @include m.mq(sm) {
      margin-top: 35px;
    }
  }
}
.p-crosstalk__member__image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
}
.p-crosstalk__member__initial {
  font-size: 2.5rem;
  line-height: 1;
  margin-top: 10px;
  text-align: center;
}
.p-crosstalk__desc__text {
  width: 77%;
  @include m.mq(s-t) {
    width: 100%;
  }
}
.p-crosstalk__contents__image {
  height: 400px;
  @include m.mq(tab-l) {
    height: 38vw;
  }
  @include m.mq(tab) {
  }
}
