@charset "utf-8";
@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;

.p-pageMv {
  .c-title__ja {
    width: 10.1em;
  }
  .is-loaded & {
    .c-title__ja {
      animation: typing 1.4s steps(10, end) forwards,
        cursor 1s step-end infinite;
    }
  }
}

.p-works {
  padding: 100px 0 200px;
}
.p-works__buttons {
  display: flex;
  gap: 0 0.2%;
}
.p-works__button {
  width: 33.2%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: c.$navy;
  border: 1px solid c.$navy;
  color: #fff;
  position: relative;
  transition: color 0.3s, background-color 0.3s;
  &::before {
    content: "";
    position: absolute;
    @include m.centerY;
    right: 25px;
    background-color: #fff;
    width: 12px;
    height: 6px;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    transition: background-color 0.3s;
  }
  @include m.mq(hover) {
    &:hover {
      background-color: #fff;
      color: c.$navy;
      &::before {
        background-color: c.$navy;
      }
    }
  }
}

.p-works__wrapper {
  margin-top: 170px;
}
.p-works__wrap {
  &:nth-child(odd) {
    .p-works__mainImage {
      margin: 0 -128px 0 auto;
    }
    .p-works__contents {
      margin: -320px 0 0 -128px;
    }
  }
  &:nth-child(even) {
    .p-works__mainImage {
      margin: 0 0 0 -128px;
    }
    .p-works__contents {
      margin: -320px -128px 0 auto;
    }
  }
}
.p-works__mainImage {
  width: 965px;
  height: 500px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    @include m.centerX;
    bottom: -350px;
    width: 100vw;
    height: 350px;
    margin: 0 calc(50% - 50vw);
    background-color: #e9f2f9;
  }
}
.p-works__contents {
  position: relative;
  z-index: 2;
  width: 640px;
  background-color: c.$navy;
  padding: 100px 10px 70px 125px;
}
.p-works__textImage {
  position: absolute;
  top: 0;
  left: 10px;
  width: 605px;
}
.p-works__heading {
  font-size: 2rem;
  color: #fff;
}
.c-desc,
.c-text {
  &::before {
    background-color: #fff;
  }
}
.c-desc {
  padding-top: 0;
}
.c-text {
  margin-left: 0;
  padding-bottom: 40px;
}
.p-works__list {
  position: relative;
  margin-top: 80px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.p-works__item {
  width: 32%;
}
.p-works__image {
  height: 220px;
}
.p-works__title {
  font-size: 2rem;
  margin-top: 30px;
}
.p-works__text {
  margin-top: 25px;
}

.p-works__schedule {
  position: relative;
  margin: 165px calc(50% - 50vw) 0;
  padding: 80px 0 100px;
  background-color: c.$navy;
  .c-title__ja {
    width: 10.1em;
    &.view {
      animation: typing 1.6s steps(10, end) forwards,
        cursor 1s step-end infinite;
    }
  }
  .c-cutting {
    height: 580px;
    width: 270px;
    z-index: 0;
    &:first-child {
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
      left: 0;
      top: 50px;
    }
    &:nth-child(2) {
      clip-path: polygon(0 50%, 100% 100%, 100% 0);
      right: 0;
      bottom: 50px;
    }
  }
}
.p-works__timeTable {
  width: 820px;
  margin: 60px auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 90px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    @include m.centerX;
    top: 1px;
    width: 6px;
    height: 80%;
    background-color: c.$orange;
  }
}
.p-works__timeTable__contents {
  position: relative;
  width: 44.5%;
  &:nth-child(odd) {
    .p-works__timeTable__titles {
      justify-content: space-between;
    }
    .p-works__timeTable__time {
      order: 2;
    }
    .p-works__timeTable__circle {
      left: initial;
      right: -60px;
      &::after {
        right: initial;
        left: -25px;
      }
    }
  }
  &:first-child {
    margin-top: 140px;
  }
  &:nth-child(4) {
    margin-top: -145px;
  }
  &:last-child {
    margin-left: auto;
    &::after {
      content: "";
      position: absolute;
      top: 30px;
      left: -50px;
      width: 10px;
      height: 100%;
      background-color: c.$navy;
    }
    .p-works__timeTable__circle {
      left: -60px;
      right: initial;
      &::after {
        right: -25px;
        left: initial;
      }
    }
  }
}
.p-works__timeTable__titles {
  display: flex;
  gap: 0 15px;
  position: relative;
  margin-bottom: 30px;
}
.p-works__timeTable__time {
  color: #fff;
  font-size: 3rem;
  line-height: 1;
}
.p-works__timeTable__heading {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #fff;
}
.p-works__timeTable__circle {
  position: absolute;
  top: 0;
  left: -60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: c.$orange;
  &::before {
    content: "";
    @include m.center;
    position: absolute;
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    @include m.centerY;
    right: -25px;
    height: 1px;
    width: 25px;
    background-color: c.$orange;
  }
}
.p-works__timeTable__image {
  height: 155px;
}
.p-works__timeTable__text {
  color: #fff;
  margin-top: 10px;
}
