@charset "utf-8";
@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;

.p-pageMv {
  .c-title__ja {
    width: 5.1em;
  }
  .is-loaded & {
    .c-title__ja {
      animation: typing 1s steps(5, end) forwards, cursor 1s step-end infinite;
    }
  }
}

.p-philosophy {
  padding: 160px 0 170px;
  @include m.mq(tab-l) {
    padding: 140px 0 150px;
  }
  @include m.mq(tab) {
    padding: 120px 0 130px;
  }
  @include m.mq(sm) {
    padding: 70px 0 80px;
  }
  .c-scroll {
    position: relative;
  }
  .c-scroll__image {
    width: 920px;
    @include m.mq(tab-l) {
      width: 850px;
    }
    @include m.mq(tab) {
      width: 700px;
    }
    @include m.mq(sm) {
      width: 500px;
    }
  }
  .c-inner {
    max-width: 1200px;
  }
  .c-title__ja {
    width: 5.1em;
    &.view {
      animation: typing 1s steps(5, end) forwards, cursor 1s step-end infinite;
    }
  }
}
.p-philosophy__lead {
  display: table;
  margin: 70px auto 0;
  @include m.mq(tab-l) {
    margin-top: 60px;
  }
  @include m.mq(tab) {
    margin-top: 50px;
  }
  @include m.mq(sm) {
    margin-top: 30px;
  }
}
.p-philosophy__contents {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.6vw 4.6vw;
  margin-top: 80px;
  @media screen and (min-width: 1281px) {
    gap: 60px 60px;
  }
  @include m.mq(tab-l) {
    gap: 3.6vw 3.6vw;
    margin-top: 75px;
  }
  @include m.mq(tab) {
    margin-top: 65px;
  }
  @include m.mq(sm) {
    margin-top: 55px;
  }
}
.p-philosophy__backImage {
  position: absolute;
  @include m.center;
  width: 85%;
  height: 85%;
  @include m.mq(tab) {
    width: 100%;
    height: 58%;
  }
  @include m.mq(s-t) {
    width: 100vw;
    height: 110%;
  }
}
.p-philosophy__card {
  position: relative;
  z-index: 2;
  padding: 50px;
  width: 47.5%;
  @include m.mq(tab-l) {
    padding: 40px;
    width: 48%;
  }
  @include m.mq(tab) {
    width: 80%;
  }
  @include m.mq(s-t) {
    width: 90%;
    padding: 30px;
  }
  @include m.mq(sm) {
    width: 100%;
    padding: 20px;
  }
  &:first-child {
    margin: 0 10px;
    @include m.mq(tab) {
      margin: 0;
    }
  }
  &:nth-child(2) {
    .c-title__ja {
      width: 7em;
      &.view {
        animation: typing 2s steps(7, end) forwards, cursor 1s step-end infinite;
      }
    }
  }
  &:nth-child(3) {
    .c-title__ja {
      width: 4em;
      &.view {
        animation: typing 1.4s steps(4, end) forwards,
          cursor 1s step-end infinite;
      }
    }
  }
  .c-desc,
  .c-text {
    &::before {
      background-color: #90bce0;
    }
  }
}
.p-philosophy__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::before {
    @include m.filter;
    background-color: rgba(c.$navy, 0.7);
  }
}
.p-philosophy__texts {
  position: relative;
  padding-left: 12px;
}
.p-philosophy__title {
  font-size: 2rem;
  color: #fff;
  @include m.mq(tab) {
    font-size: 1.8rem;
  }
}

.p-service {
  padding: 170px 0;
  background-image: url(../../../../assets/images/common/bg02.jpg);
  @include m.bgCover;
  @include m.mq(tab-l) {
    padding: 150px 0;
  }
  @include m.mq(tab) {
    padding: 120px 0;
  }
  @include m.mq(sm) {
    padding: 70px 0;
  }
  .c-scroll {
    position: relative;
  }
  .c-scroll__image {
    width: 840px;
    @include m.mq(tab-l) {
      width: 760px;
    }
    @include m.mq(tab) {
      width: 600px;
    }
    @include m.mq(sm) {
      width: 400px;
    }
  }
  .c-title__ja {
    width: 5.1em;
    &.view {
      animation: typing 1s steps(5, end) forwards, cursor 1s step-end infinite;
    }
  }
}
.p-service__lead {
  margin-top: 60px;
  @include m.mq(tab-l) {
    margin-top: 55px;
  }
  @include m.mq(tab) {
    margin-top: 50px;
  }
  @include m.mq(sm) {
    margin-top: 30px;
  }
}
.p-service__mainImage {
  height: 300px;
  margin-top: 70px;
  @include m.mq(tab-l) {
    height: 27vw;
    margin-top: 65px;
  }
  @include m.mq(tab) {
    margin-top: 60px;
  }
  @include m.mq(sm) {
    height: 30vw;
    margin-top: 30px;
  }
}
.p-service__lead__box {
  margin-top: 45px;
  @include m.mq(tab-l) {
    margin-top: 40px;
  }
  @include m.mq(tab) {
    margin-top: 35px;
  }
  @include m.mq(sm) {
    margin-top: 20px;
  }
}
.p-service__lead__text {
  margin: 20px 0 0 40px;
  color: #fff;
  @include m.mq(tab-l) {
    margin: 20px 0 0 35px;
  }
  @include m.mq(tab) {
    margin: 15px 0 0 30px;
  }
  @include m.mq(sm) {
    margin: 10px 0 0 20px;
  }
}
.p-service__contents {
  margin-top: 100px;
  @include m.mq(tab-l) {
    margin-top: 90px;
  }
  @include m.mq(tab) {
    margin-top: 80px;
  }
  @include m.mq(sm) {
    margin-top: 60px;
  }
}
.p-service__flex {
  display: flex;
  justify-content: space-between;
  @include m.mq(s-t) {
    flex-wrap: wrap;
    gap: 20px 0;
  }
  &:nth-child(2) {
    margin-top: 80px;
    @include m.mq(tab-l) {
      margin-top: 70px;
    }
    @include m.mq(tab) {
      margin-top: 60px;
    }
    @include m.mq(sm) {
      margin-top: 50px;
    }
  }
}
.p-service__desc {
  width: 50%;
  @include m.mq(tab) {
    width: 52%;
  }
  @include m.mq(s-t) {
    width: 100%;
    order: 2;
  }
}
.p-service__heading {
  color: #fff;
  font-size: 2rem;
  @include m.mq(tab) {
    font-size: 1.8rem;
  }
}
.p-service__image {
  width: 42%;
  @include m.mq(tab) {
    width: 44%;
  }
  @include m.mq(s-t) {
    width: 300px;
  }
  @include m.mq(sm) {
    width: 250px;
  }
}

.p-future {
  padding: 170px 0;
  @include m.mq(tab-l) {
    padding: 150px 0;
  }
  @include m.mq(tab) {
    padding: 120px 0;
  }
  @include m.mq(sm) {
    padding: 70px 0;
  }
  .c-scroll {
    position: relative;
  }
  .c-scroll__image {
    width: 830px;
    @include m.mq(tab-l) {
      width: 750px;
    }
    @include m.mq(tab) {
      width: 580px;
    }
    @include m.mq(sm) {
      width: 390px;
    }
  }
  .c-title__ja {
    width: 15em;
    &.view {
      animation: typing 2s steps(15, end) forwards, cursor 1s step-end infinite;
    }
  }
}
.p-future__wrap {
  margin-top: 95px;
  @include m.mq(tab-l) {
    margin-top: 85px;
  }
  @include m.mq(tab) {
    margin-top: 70px;
  }
  @include m.mq(sm) {
    margin-top: 55px;
  }
}
.p-future__contents {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  @include m.mq(s-t) {
    flex-wrap: wrap;
    gap: 0;
  }
  &:nth-child(n + 2) {
    margin-top: 75px;
    @include m.mq(tab-l) {
      margin-top: 70px;
    }
    @include m.mq(tab) {
      margin-top: 60px;
    }
    @include m.mq(sm) {
      margin-top: 50px;
    }
  }
}
.p-future__image {
  width: 640px;
  height: 400px;
  margin-left: -128px;
  @include m.mq(note) {
    margin-left: -5vw;
  }
  @include m.mq(tab-l) {
    width: 54vw;
    height: 34vw;
  }
  @include m.mq(s-t) {
    margin-left: 0;
  }
  @include m.mq(sm) {
    width: 100%;
    height: 54vw;
  }
}
.p-future__desc {
  width: 440px;
  margin-top: 75px;
  @include m.mq(note) {
    margin-top: 5vw;
  }
  @include m.mq(tab-l) {
    width: 38vw;
  }
  @include m.mq(s-t) {
    width: 100%;
  }
  .c-text {
    margin-left: 0;
    color: #000;
    &::before {
      background-color: #bdd7ec;
    }
  }
}
