@charset "utf-8";
@use "../foundation/mixin" as m;
@use "../foundation/color" as c;

.p-entry {
  overflow: hidden;
  z-index: 4;
}
.p-entry__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.p-entry__link {
  padding: 75px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  @include m.mq(tab-l) {
    padding: 70px 0 90px;
  }
  @include m.mq(tab) {
    padding: 60px 0 80px;
  }
  @include m.mq(sm) {
    padding: 40px 0 60px;
  }
  &:hover {
    .p-entry__button {
      &::after {
        width: 100%;
      }
    }
  }
}
.p-entry__title {
  width: 720px;
  position: relative;
  z-index: 1;
  opacity: 0.5;
  @include m.mq(tab-l) {
    width: 70%;
  }
  @include m.mq(sm) {
    width: 80%;
  }
}
.p-entry__button {
  width: 480px;
  height: 90px;
  background-color: c.$orange;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -75px auto 0;
  @include m.mq(tab-l) {
    margin-top: -7vw;
    width: 48vw;
    height: 8vw;
  }
  @include m.mq(sm) {
    width: 53vw;
    height: 10vw;
  }
  &::before {
    content: "";
    position: absolute;
    @include m.centerY;
    right: 25px;
    width: 10px;
    height: 15px;
    background-color: #fff;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    z-index: 2;
    @include m.mq(tab) {
      right: 20px;
      width: 7px;
      height: 14px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #b9690e;
    transition: width 0.4s;
  }
  .text {
    position: relative;
    color: #fff;
    font-size: 2.4rem;
    z-index: 1;
    @include m.mq(tab-l) {
      font-size: 2.2rem;
    }
    @include m.mq(tab) {
      font-size: 2rem;
    }
    @include m.mq(sm) {
      font-size: 1.6rem;
    }
  }
}
