@charset "utf-8";
@use "../foundation/mixin" as m;
@use "../foundation/color" as c;

.fadeUp {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s, transform 0.6s;
  &.view,
  .view & {
    opacity: 1;
    transform: translateY(0);
  }
}
