@charset "utf-8";
@use "../foundation/mixin" as m;
@use "../foundation/color" as c;

.c-scroll {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  margin: 0 calc(50% - 50vw);
}
.c-scroll__child {
  display: flex;
  animation: scroll-right 30s infinite linear 0.5s both;
}
@keyframes scroll-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.c-scroll__image {
  width: 1000px;
  margin-right: 100px;
  @include m.mq(tab-l) {
    width: 920px;
    margin-right: 80px;
  }
  @include m.mq(tab) {
    width: 750px;
    margin-right: 60px;
  }
  @include m.mq(s-t) {
    width: 650px;
    margin-right: 50px;
  }
  @include m.mq(sm) {
    width: 110vw;
    margin-right: 30px;
  }
}
