@charset "utf-8";
@use "../../foundation/mixin" as m;
@use "../../foundation/color" as c;

.p-lead__textImage {
  position: absolute;
  @include m.centerX;
  top: 20px;
  margin-left: -205px;
  width: 320px;
  @include m.mq(tab-l) {
    margin-left: -190px;
    width: 310px;
  }
  @include m.mq(tab) {
    margin-left: -155px;
    width: 250px;
    top: 15px;
  }
  @include m.mq(s-t) {
    margin-left: -105px;
    width: 200px;
  }
  @include m.mq(sm) {
    margin-left: -85px;
    width: 130px;
    top: 10px;
  }
  @include m.mq(sm-se) {
    margin-left: -75px;
    width: 120px;
  }
}
.p-lead__heading {
  margin-top: 40px;
  @include m.mq(tab) {
    margin-top: 30px;
  }
  @include m.mq(sm) {
    margin-top: 20px;
  }
}

.p-message {
  padding: 175px 0 160px;
  @include m.mq(tab-l) {
    padding: 165px 0 150px;
  }
  @include m.mq(tab) {
    padding: 140px 0 125px;
  }
  @include m.mq(sm) {
    padding: 80px 0 70px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58%;
    background-image: url(../../../../assets/images/common/bg02.jpg);
    @include m.bgCover;
    @include m.mq(tab) {
      height: 62%;
    }
    @include m.mq(sm) {
      height: 75%;
    }
  }
  .c-scroll {
    position: relative;
  }
  .c-scroll__image {
    width: 755px;
    @include m.mq(tab-l) {
      width: 720px;
    }
    @include m.mq(tab) {
      width: 620px;
    }
    @include m.mq(sm) {
      width: 440px;
    }
  }
}
.p-message__wrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  @include m.mq(s-t) {
    flex-wrap: wrap;
    gap: 40px 0;
    margin-top: 15px;
  }
}
.p-message__image {
  width: 400px;
  height: 550px;
  @include m.mq(tab-l) {
    width: 40%;
    height: 48vw;
  }
  @include m.mq(s-t) {
    width: 320px;
    height: 400px;
  }
  @include m.mq(sm) {
    width: 250px;
    height: 330px;
  }
}
.p-message__contents {
  width: 530px;
  @include m.mq(tab-l) {
    width: 55%;
  }
  @include m.mq(s-t) {
    width: 100%;
  }
}
.p-message__texts {
  margin-top: 140px;
  @include m.mq(tab-l) {
    margin-top: 120px;
  }
  @include m.mq(tab) {
    margin-top: 80px;
  }
  @include m.mq(s-t) {
    margin-top: 20px;
  }
}
.p-message__title {
  font-size: 2rem;
  color: #fff;
  @include m.mq(sm) {
    font-size: 1.8rem;
  }
}
.p-message__text {
  color: #fff;
  margin-top: 20px;
}
.p-message__name {
  display: table;
  margin: 30px 0 0 auto;
  color: #fff;
  text-align: right;
  @include m.mq(sm) {
    margin-top: 20px;
  }
}
.p-message__textImage {
  width: 140px;
  margin-top: 5px;
  @include m.mq(tab) {
    width: 135px;
  }
  @include m.mq(sm) {
    width: 125px;
  }
}

.p-concept {
  padding: 170px 0;
  background-image: url(../../../../assets/images/concept/back_img.jpg);
  @include m.bgCover;
  @include m.mq(tab-l) {
    padding: 150px 0;
  }
  @include m.mq(tab) {
    padding: 120px 0;
  }
  @include m.mq(sm) {
    padding: 70px 0;
  }
  &::before {
    @include m.filter;
    background-color: rgba(c.$blue, 0.8);
    z-index: 1;
  }
  .c-scroll {
    position: relative;
  }
  .c-scroll__image {
    width: 810px;
    @include m.mq(tab-l) {
      width: 770px;
    }
    @include m.mq(tab) {
      width: 650px;
    }
    @include m.mq(sm) {
      width: 400px;
    }
  }
  .c-inner {
    z-index: 2;
  }
  .c-title__ja {
    width: 6em;
    &.view {
      animation: typing 1.2s steps(6, end) forwards, cursor 1s step-end infinite;
    }
  }
}
.p-concept__contents {
  width: 960px;
  margin: auto;
  @include m.mq(tab-l) {
    width: 90%;
  }
  @include m.mq(tab) {
    width: 100%;
  }
}
.p-concept__titleWrap {
  display: table;
  position: relative;
  margin: 120px auto 0;
  padding: 15px 12px;
  @include m.mq(tab-l) {
    margin-top: 100px;
  }
  @include m.mq(tab) {
    margin-top: 80px;
  }
  @include m.mq(sm) {
    margin-top: 50px;
    padding: 10px 8px;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    transition: width 0.3s;
    z-index: 0;
  }
  &.view {
    &::before {
      width: 100%;
    }
  }
}
.p-concept__subTitle {
  width: 315px;
  position: absolute;
  left: -40px;
  top: -60px;
  z-index: 2;
  display: none;
  @include m.mq(tab) {
    width: 270px;
    left: -25px;
    top: -52px;
  }
  @include m.mq(s-t) {
    width: 200px;
    left: -20px;
    top: -35px;
  }
  @include m.mq(sm) {
    width: 150px;
    left: -15px;
    top: -28px;
  }
  .view & {
    display: block;
  }
}
.p-concept__titles {
  opacity: 0;
  transition: opacity 0.3s 0.4s;
  position: relative;
  z-index: 2;
  .view & {
    opacity: 1;
  }
}
.p-concept__title {
  font-size: 8.4rem;
  line-height: 1;
  font-style: italic;
  font-feature-settings: "palt";
  background-image: url(../../../../assets/images/top/catch_bg02.jpg);
  background-position: 50% -80px;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  display: table;
  color: transparent;
  @include m.mq(tab-l) {
    font-size: 8rem;
  }
  @include m.mq(tab) {
    font-size: 7rem;
  }
  @include m.mq(s-t) {
    font-size: 5.4rem;
  }
  @include m.mq(sm) {
    font-size: 4rem;
  }
  @include m.mq(sm-se) {
    font-size: 3.8rem;
  }
  .middle {
    font-size: 7rem;
    line-height: 1;
    font-style: italic;
    color: transparent;
    @include m.mq(tab-l) {
      font-size: 6.6rem;
    }
    @include m.mq(tab) {
      font-size: 5.6rem;
    }
    @include m.mq(s-t) {
      font-size: 4.2rem;
    }
    @include m.mq(sm) {
      font-size: 3.4rem;
    }
  }
}
.p-concept__heading {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-top: 70px;
  @include m.mq(tab-l) {
    margin-top: 65px;
  }
  @include m.mq(tab) {
    margin-top: 55px;
  }
  @include m.mq(sm) {
    margin-top: 40px;
    font-size: 1.8rem;
  }
}
.p-concept__text {
  color: #fff;
  margin-top: 30px;
  @include m.mq(tab) {
    margin-top: 25px;
  }
  @include m.mq(sm) {
    margin-top: 20px;
  }
}

.p-parson {
  padding: 170px 0;
  @include m.mq(tab-l) {
    padding: 150px 0;
  }
  @include m.mq(tab) {
    padding: 120px 0;
  }
  @include m.mq(sm) {
    padding: 70px 0;
  }
  .c-scroll {
    position: relative;
  }
  .c-scroll__image {
    width: 685px;
    @include m.mq(tab-l) {
      width: 650px;
    }
    @include m.mq(tab) {
      width: 500px;
    }
    @include m.mq(sm) {
      width: 380px;
    }
  }
  .c-title__ja {
    width: 10.8em;
    &.view {
      animation: typing 2s steps(11, end) forwards, cursor 1s step-end infinite;
    }
  }
}
.p-parson__list {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  @include m.mq(tab-l) {
    margin-top: 75px;
  }
  @include m.mq(tab) {
    margin-top: 65px;
  }
  @include m.mq(s-t) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 0;
  }
  @include m.mq(sm) {
    margin-top: 50px;
  }
}
.p-parson__item {
  width: 31%;
  @include m.mq(tab) {
    width: 31.5%;
  }
  @include m.mq(s-t) {
    width: 400px;
  }
  @include m.mq(sm) {
    width: 100%;
  }
}
.p-parson__image {
  height: 220px;
  @include m.mq(tab-l) {
    height: 20vw;
  }
  @include m.mq(s-t) {
    height: 240px;
  }
  @include m.mq(sm) {
    height: 52vw;
  }
}
.p-parson__title {
  font-size: 2rem;
  margin-top: 25px;
  @include m.mq(sm) {
    font-size: 1.8rem;
  }
}
.p-parson__text {
  margin-top: 20px;
}
